@font-face {
    font-family: "Quicksand Regular";
    src: url("https://raw.githubusercontent.com/thanhnho417/editfiles/main/uploads/fonts/Quicksand-Regular.woff") format("woff");
}
@font-face {
    font-family: "Quicksand Bold";
    src: url("https://raw.githubusercontent.com/thanhnho417/editfiles/main/uploads/fonts/Quicksand-Bold.woff") format("woff");
}
@font-face {
    font-family: "Quicksand Light";
    src: url("https://raw.githubusercontent.com/thanhnho417/editfiles/main/uploads/fonts/Quicksand-Light.woff") format("woff");
}
@font-face {
    font-family: "Quicksand Medium";
    src: url("https://raw.githubusercontent.com/thanhnho417/editfiles/main/uploads/fonts/Quicksand-Medium.woff") format("woff");
}
@font-face {
    font-family: "Quicksand SemiBold";
    src: url("https://raw.githubusercontent.com/thanhnho417/editfiles/main/uploads/fonts/Quicksand-SemiBold.woff") format("woff");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: white;
}
::-webkit-scrollbar-thumb{
    background: #386e61;
}
::-webkit-scrollbar-thumb:hover{
    background: #254941;
}
html{
    height: 100%;
}
body{
    min-height: 100%;
    font-family: "Quicksand Regular",sans-serif;
    font-size: 1.1em;
}
img{
    border-radius: 7px;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav{
    margin-right: 10px;
    font-family: "Quicksand Semibold",sans-serif;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}

.left-selection{
    display: flex;
    align-items: center;
}
.left-selection img{
    padding: 5px;
    margin-left: 5px;
}
.left-selection a{
    font-family: "Comfortaa", sans-serif;
    text-decoration: none;
    margin-left: 10px;
    color: white;
    font-size: 18px;
}
nav a:hover{
    background-color: rgb(39, 82, 57);
}
.notfound{
    display: flex;
    padding: 5%;
    justify-content: center;
}
.notfound p{
    margin: 5px;
    padding: 10px;
    font-size: 30px;
    font-family: "Quicksand Bold",sans-serif;
    font-weight: bold;
}
.notfound a{
    border: 1px solid #386e61;
    margin: 5px;
    padding: 5px 20px;
    border-radius: 25px;
    text-decoration: none;
    background: #386e61;
    color: white;
}
.notfound .buttonerror{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    z-index: 999;
    background-color: #386e61;
    box-shadow: -5px 0 5px 0 #386e61;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: 50ms ease-out;
    border-radius: 5px 0 0 5px;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.menu-button{
    display: none;
}
.menu-button:hover{
    background-color: rgb(39, 82, 57);
}


footer{
    position: sticky;
    top: 100%;
    height: 50px;
    background-color: #386e61;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
    color: white;
}


@media (max-width: 1080px) {
    .container {
        flex-direction: column;
        padding: 0;
        margin: 5px;
    }
    .playlist {
        order: 1;
    }
    .video-player #video-description{
        height: 50px;
    }
}
@media(max-width:750px){
    .row{
        width: 85%;
        grid-template-columns: 1fr;
    }
    .row .left{
        padding: 10px 40px 10px 40px;
    };
    .table-wrapper{
        width: 90%;
    }
    
}
@media(max-width:950px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
    .sidebar{
        transition: 200ms ease-out;
    }
    .row .right .content{
        padding-left: 0;
    }
    .notfound{
        flex-direction: column;
    }
    .notfound .button p{
        font-size: 20px;
    }
    .notfound .buttonerror{
        align-items: center;
        flex-direction: row;
    }
}
@media(max-width:413px){
    .sidebar{
        width: 100%;
    }
    #dataTable{
        width: 100%;
        padding: 10px;
    }
    
}
@media(max-width:1520px){
    .video-wrapper{
        padding: 10px 10%;
    }
    .image-wrapper{
        padding: 10px 10%;
    }
    .video-container .main-video .video-js{
        width: 100%;
        margin: 0 auto;
        border-radius: 5px;
    }
}
@media(max-width:768px){
    .video-wrapper{
        padding: 10px;
    }
    .image-wrapper {
        padding: 10px;
    }
}
